

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#home-section {
    background: url(https://wallpapercave.com/wp/DgwazAh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;
}

    #home-section .dark-overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 1000px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    #home-section .home-inner {
        padding-top: 158px;
    }

#csz {
    font-family: Papyrus, fantasy;
}

#imagine {
    height: 100%;
    width: 100%;
}
